---
import BaseLayout from "../layouts/BaseLayout.astro";
import LinkButton from "../components/LinkButton.astro";

const nucs_url = "https://www.mccormick.northwestern.edu/computer-science/";
const nikos_url = "https://users.cs.northwestern.edu/~hardav/#top";
const kate_url = "https://knsmith.github.io/";
const dvlab_url = "https://dvlab.ee.ntu.edu.tw/";
const giee_url = "https://graduate.ee.ntu.edu.tw/";
const ric_url = "https://www.ee.ntu.edu.tw/profile1.php?teacher_id=901153";
const qsyn_url = "https://github.com/DVLab-NTU/qsyn";
const ntuwb_url = "https://www.instagram.com/ntuwindband/";
import Section from "../components/Section.astro";

const educationItems = [
    {
        degree: "PhD in Computer Science",
        institution: "Northwestern University",
        dateStart: "2025.09",
    },
    {
        degree: "MS in Electrical Engineering",
        institution: "National Taiwan University",
        dateStart: "2022.09",
        dateEnd: "2024.06",
    },
    {
        degree: "BS in Electrical Engineering",
        institution: "National Taiwan University",
        dateStart: "2017.09",
        dateEnd: "2022.06",
    },
];

const experienceItems = [
    {
        position: "Research Associate",
        institution: "National Taiwan University",
        dateStart: "2024.08",
        dateEnd: "2025.02",

    },
    {
        position: "Teaching Assistant",
        institution: "National Taiwan University",
        dateStart: "2022.09",
        dateEnd: "2024.06",
        highlights: ["EEE 5065 Special Topics in Quantum Design Automation", 
        "CommE 5061 Quantum Information and Computation (twice)", 
        "EE 3035 Web Programming (twice)"]
    }
];
---


<BaseLayout titlePrefix="About">
  <Section>
    <h1 class="font-heading-1">About Me</h1>
    <span class="font-heading-2">Aspiring Quantum Software Researcher.</span>
    <p class="font-content">
      I'm Mu-Te Lau ("Moo-Tuh Lau", Mandarin: 劉慕德), 
      a PhD student at
      <a class="link" href={nucs_url}>CS, Northwestern University</a>. I'm
      currently advised by
      <a class="link" href={nikos_url}>Prof. Nikos Hardavellas</a>, and I also
      work with <a class="link" href={kate_url}>Prof. Kate Smith</a> often. My research
      interest lies in system software for quantum computing, particularly quantum
      compilation. I focus on developing techniques that cut quantum computing costs
      and make quantum algorithms more practical.
    </p>

    <p class="font-content">
      Previously at
      <a class="link" href={dvlab_url}
        >Design Verification Lab, National Taiwan University</a
      > (advised by
      <a class="link" href={ric_url}>Prof. Chung-Yang (Ric) Huang</a>), I
      co-developed <a class="link" href={qsyn_url}>Qsyn</a>, an open-source
      quantum circuit optimization tool, where I turned research breakthroughs
      into features while leading performance boosts and code overhauls.
    </p>

    <p class="font-content">
      Beyond research, I'm a passionate musician and play the euphonium and
      piano. I was a member of the <a class="link" href={ntuwb_url}
        >NTU Wind Band</a
      > and had served various roles, including chair Euphonium player, (vice) band
      leader, social media editor.
    </p>
  </Section>
  <Section color="columbia-blue">
    <h2 class="font-heading-2">Education</h2>
  <table class="w-full font-content text-left">
    <tbody>
      {
        educationItems.map((item) => (
          <tr class="align-top">
            <td class="w-48 pr-8 py-0">
                <span class="font-content">{item.dateStart} - {item.dateEnd ? `${item.dateEnd}` : "Present"}</span>
            </td>
            <td class="py-0">
              <span class="font-emph">{item.degree}, {item.institution}
              </span>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>

  <h2 class="font-heading-2">Experiences</h2>
  <table class="w-full font-content text-left">
    <tbody>
      {
        experienceItems.map((item) => (
          <tr class="align-top">
            <td class="w-48 pr-8 py-0">
              <span class="font-content">{item.dateStart} - {item.dateEnd ? `${item.dateEnd}` : "Present"}</span>
            </td>
            <td class="py-0">
              <span class="font-emph">{item.position}, {item.institution}</span>
              {item.highlights && (
                <ul class="font-content text-jet-light py-0 my-0 list-none">
                  {item.highlights.map((highlight) => (
                    <li>- {highlight}</li>
                  ))}
                </ul>
              )}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>

  <div class="flex space-x-4 justify-center md:justify-start"> 
    <LinkButton href="/cv/">Full CV</LinkButton>
    <LinkButton href="/publications/">Publications</LinkButton>
    <LinkButton href="/projects/">Projects</LinkButton>
  </div>
  </Section>
</BaseLayout>
