---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import TableRow from "../components/TableRow.astro";
import projects from "../content/projects";
---

<BaseLayout>
  <Section>
    <h1 class="font-heading-1">Projects</h1>

    <p class="mb-8 mt-8 text-jet">Research projects and more. More to come!</p>
    <table class="w-full border-separate spaced-table">
        <tbody>
        {
            projects.map((project) => (
                <TableRow
                    href={project.url}
                    leftLabel={project.tags.join(", ")}
                    rightTitle={project.title}
                    rightSubtitle={project.description}
                    image={project.image}
                    imageAlt={project.title}
                />
            ))
        }
        </tbody>
    </table>
  </Section>
</BaseLayout>
