---
import { formatDate } from "../utils/date";
import TableRow from "./TableRow.astro";

export interface Props {
  items: any[];
  basePath?: string;
}

const { items, basePath = "/posts" } = Astro.props;
---

<table class="w-full border-separate spaced-table">
  <tbody>
    {
      items.map((item) => (
        <TableRow
          href={`${basePath}/${item.slug}/`}
          leftSubtitle={formatDate(item.data.date)}
          rightTitle={item.data.title}
          rightSubtitle={item.data.description}
        />
      ))
    }
  </tbody>
</table>
